@media print {
    :root {
        --page-margin: 1.9cm;
        --break-border-color: #e6e6e6;
        --project-padding: 1rem;
    }

    @page {
        size: A4 portrait;
    }

    body {
        background-image: none;
    }

    p {
        margin-bottom: 0.8rem;
    }

    .page-break {
        page-break-before: always;
        height: 0.5in;
    }

    .container {
        padding-left: var(--page-margin);
        padding-right: var(--page-margin);

        max-width: none !important;
    }

    .container>*:not(h2) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*
    Toggle pdf/print-only elements.
*/
    .in-print {
        display: initial !important;
    }

    .no-print {
        display: none !important;
    }

    .head-text {
        vertical-align: middle;
        margin-left: 2rem;
    }

    .social-link {
        padding: 0;
        margin-right: 1rem;
    }

    .social-links-container {
        margin: 0;
        justify-content: left !important;
    }

    .social-links-container:not(:first-child) {
        margin-top: 0.5rem;
    }

    .nav-bar,
    footer {
        display: none;
    }


    .last-before-page-break {
        border-bottom: none;
    }

    .section {
        border: none;
        padding: 1rem 0 1rem 0 !important;
    }

    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid var(--break-border-color);
    }

    h3 {
        font-size: 1.2rem !important;
    }

    .head-center {
        height: 100%;
        text-align: center;

        /* Required for some odd reason... */
        padding-top: 0 !important;
    }

    .head-center .title {
        text-align: left !important;
    }

    .head-center .sub-title {
        text-align: left !important;
    }

    .head-center>* {
        display: inline-block;
    }

    .my-face {
        width: 125px;
        height: 125px;
        display: inline-block;
    }

    h2.text-center {
        text-align: left !important;
    }

    .desc {
        font-size: 1.1rem;
    }

    .skill-ref {
        display: none;
    }
}
