section.section.skills
    a#skills.anchor
    .container
        h2.text-center= sections.skills.name

        ul
            each skill in sections.skills.content
                li!= skill

        each skillList in skillLists
            .skill-list-container
                h3= skillList.name
                .skill-list
                    each skill in skillList.skills
                        span.skill
                            = skill.name
                            //- - if (skill.refs)
                            //-     each ref in skill.refs
                            //-         sup
                            //-             a.skill-ref(href='#project-'+ref)
                //- End of skill loop
        //- End of skill list loop
