@import '~bootstrap/scss/bootstrap';

:root {
	--section-padding-top-bottom: 3rem;
	--navbar-height: 3.3rem;
	--project-padding: 2rem;
	--project-anchor-padding: -5.7rem;
	--break-border-color: #e6e6e6;
}

html {
	font-size: 0.9em;

	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	min-width: 200px;
}

a {
	transition: 0.2s;
	text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: calc(-1 * (var(--navbar-height) + var(--section-padding-top-bottom)));
    visibility: hidden;
}

h2 {
	margin-bottom: 1rem;
}

footer {
	margin-top: 120px;
	padding-bottom: 10px;

	font-size: 8pt;
}

.container {
	max-width: 700px;
}

.container > ul {
    padding-left: 1rem;
}

/* Hide pdf/print-only elements. */
.in-print {
    display: none !important;
}

.links .sep {
	color: #aaaaaa;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	pointer-events: none;
	user-select: none;
}

.sticky {
	position: fixed;
	top: 0;
}

.nav-bar.sticky {
	background-color: var(--bs-body-bg);
	border-bottom: 1px solid var(--break-border-color);
	z-index: 100;

	pointer-events: auto; /* Re-enable pointer events. */
}

.nav-bar {
	height: var(--navbar-height);
	width: 100%;
	overflow: hidden;

	pointer-events: none; /* We're invisible, so disable pointer events for me. */
}

.nav-bar > * {
	pointer-events: auto;
}

.nav-bar .navigation .link-sep {
	vertical-align: middle;
	color: #80808030;
	pointer-events: none;
	user-select: none;
}

.nav-bar .navigation {
	margin: 0;
	margin-left: 0.5rem;
	padding: 0;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
}

#link-top {
	opacity: 25%;
}

.sticky #link-top {
	opacity: 100%;
}


.nav-bar .navigation .nav-button {
	text-align: center;

	margin: 0 1.1rem;
	flex-grow: 1;

	font-size: 16pt;
}

.langs {
	display: flex;
	align-items: center;
	height: 100%;

	margin: 0 1rem 0 1rem;

	position: absolute;
	right: 0;
}

.langs-button {
	vertical-align: middle;

	text-transform: uppercase;

	padding: 0 1rem 0 1rem;

	font-size: 1.2rem;
}

.nav-bar button:hover {
	background-color: rgba(var(--rgb),0.2);
}


.nav-bar button.pressed {
	background-color: rgba(var(--rgb),0.3);
}

#highlight-toggle-web {
	margin-right: 2rem;
}

.site-head {
	background-image: linear-gradient(45deg, #ffea8f, #d694c0);

	/*background-repeat: repeat;
	background-size: cover;
	background-position: top center;
	background-image: url('../img/bg002.jpg');*/

	overflow: hidden;
}

.nav-bar a {
	text-transform: uppercase;
}

.head-center {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.head-center .title {
    text-align: center;
	font-weight: 300;
}

.head-center .sub-title {
    text-align: center;
	font-size: 1.25rem;
	font-weight: 300;
	color: #444;
}

.head-image {
	text-align: center;
	margin-bottom: 0.5rem;
}

.my-face {
	width: 150px;
	height: 150px;
	max-width: 100%;

	border-radius: 50%;
	border-style: double;
	/*border-color: white;*/

	background-color: white;
}

.social-links-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.social-link .text {
	vertical-align: middle;
	margin-left: 0.25rem;
}

.section {
	padding: var(--section-padding-top-bottom) 0 var(--section-padding-top-bottom) 0;
}

.desc {
	font-size: 12pt;
	margin-bottom: 0.5rem;
}

.education table {
	font-size: 10pt;
}

.education td {
	padding: 0 2rem 0 2rem;
	vertical-align: top;
}

h3 {
	font-size: 1.45rem;
}

.project h3 {
	margin-bottom: 1rem;
	display: inline-block;
}

.project .links {
	display: inline-block;
	word-spacing: 4pt;

	margin-left: 1.5rem;
	margin-bottom: 0rem;
}

.tech-used {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-weight: 900;
}

.skill {
	margin: 0.25rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 15px;
	background-color: #e0e0ff;
}

.skill-list {
	display: flex;
	flex-wrap: wrap;

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.skill-list-container {
	margin: 2rem 0 2rem 0;
}

.project {
	border-bottom: 1px solid var(--break-border-color);

	padding-top: 0.5rem;
	padding-bottom: var(--project-padding);
}

.project ~ .project {
	padding-top: var(--project-padding);
}

.project:last-child {
	border-bottom: none;
}

.section.projects .project {
	position: relative;
	z-index: 0;
}

.project .anchor {
	top: var(--project-anchor-padding);
}

@media (max-width: 980px) {
	.head-center {
		padding-top: 45px;
	}

	/*
	.project .bg {
		display: none;
	}
	*/

	#highlight-toggle-web {
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.nav-bar button {
		display: none;
	}
}

@media (max-width: 520px) {
	.nav-bar .langs {
		display: none;
	}
}

@media (max-width: 480px) {
	.nav-bar .navigation {
		margin: 0 auto;
		width: 100%;
	}

	.nav-bar .navigation .link-sep::after {
		content: '|';
	}

	.nav-bar .navigation .nav-button {
		margin: 0 0.25rem;
	}
}

@media (max-width: 430px) {
	.social-link svg {
		display: block;
		margin: 0 auto;
	}

	.social-link .text {
		display: block;
		text-align: center;
		margin-left: 0;
	}
}

@media (max-width: 400px) {
	.nav-bar .navigation .nav-button {
		font-size: 14pt;
	}
}

@media (max-width: 360px) {
	.nav-bar .navigation .nav-button {
		font-size: 12pt;
	}
}

@media (max-width: 325px) {
	.nav-bar .navigation .nav-button {
		font-size: 10pt;
	}
}

@media print {
	@import 'pdf.scss';
}

// Dark mode
@media (prefers-color-scheme: dark) {
	body {
		--break-border-color: #222;
		--bs-body-color: #f1f1f1;
		--bs-body-bg: #121212;
	}

	.site-head {
		background-image: linear-gradient(10deg, #001c2d, #000);
	}

	.head-center .sub-title {
		color: #a6a6a6;
	}

	.skill {
		background-color: #303048;
	}
}
