doctype html
html
  head
    meta(charset='UTF-8')
    title Miikka Ylätalo
    link(rel='shortcut icon' type='image/png' href='img/icon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // SEO
    meta(name='title' content='Miikka Ylätalo')
    meta(name='description' content='Miikka Ylätalo’s CV site, showcasing various programming projects.')
    meta(name='keywords' content='miikka, ylätalo, mehis, portfolio, cv, project')
    meta(name='author' content='Miikka Ylätalo')
    meta(name='thumbnail' content='https://cv.mehis.dev/img/myface2.jpg')
    script(type='application/ld+json').
      {"@context":"http://schema.org","@type":"Person","name":"Miikka Ylätalo","image":"img/myface2.jpg","logo":"img/myface2.jpg","url":"https://cv.mehis.dev"}
    //- Disable indexing for translations.
    if translations.currentId != ''
      meta(name='robots' content='noindex, follow')
    // Open Graph
    meta(property='og:image' content='https://cv.mehis.dev/img/myface2.jpg')

    // Site CSS
    // Includes bootstrap 
    block mycss
      link(rel='stylesheet' type='text/css' href='assets/site.css')
      link(rel='stylesheet' type='text/css' media="print" href='assets/pdf.css')
  body

    // Site head
    include includes/site-head.pug

    // Start content
    .site-content

      // About Me
      include includes/section-me.pug

      // Skills
      include includes/section-skills.pug

      // Projects
      include includes/section-projects.pug
    
    // Footer
    footer.text-center
      | Site by Miikka Ylätalo
      br
      | Hosted on 
      a(href='https://pages.github.com/' target='_blank') Github Pages
      br
    
    // Non-blocking stuff last.
    script(src='assets/nonblocking.js' async)
